
.logo{
    margin-left: 1rem;
    color: #2ca58d;
    top: -14;
    margin-top: 50vw;

/* Z-index: -999 */
}   

.logo:hover{
    color: #2ca58d;
}
.profile{
    display: flex;
    position: fixed;
    flex-basis: auto;
    right: -51;
    transform: translateX(80vw);
}

.nav-link-profile{
    text-decoration: none;
    color: #2ca58d
}
.nav-link-profile:hover{
    text-decoration: none;
    color: #2ca58d
}

.card {
    position: absolute;
    top:16px;
    right: 16px;
    z-index: 1;
    background: white;
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    max-width: 400px;
    padding: 16px;
    margin-top: 16px;
    font-family: 'GT Walsheim', sans-serif;
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-4px);
  }
  
  .card-header {
    /* font-weight: bold; */
    font-size: 10px;
    margin-bottom: 16px;
  }
  
  .card-body {
    display: flex;
    align-items: center;
    padding: 16px;
  }
  
  .progress-bar {
    width: 0%;
    height: 5px;
    background: #2ca58d;
    animation: progress 2s ease-in-out infinite;
  }
  
  @keyframes progress {
    0% {
      width: 0%;
    }
    50% {
      width: 50%;
    }
    100% {
      width: 100%;
    }
  }
  