


.side-bar-parent {
    display: inline-block;
    height: 100vw;
    min-height: 100vw;
    width: 15%;
    min-width: 15%;
    border-right: 0.01px solid #d2e0ce;
    background-color: #ffff;


}
.main {
    display: inline-block;
    float: right;
    width: 84%;
    /* height: 100vw; */
    min-width: 84%
}


.nav-link{
    text-decoration: none;
    color: #0d0d0d
}

.nav-link:hover{
    color: #2ca58d;
}
.nav-links:hover{
    color: #2ca58d;
}
.nav-link.active{
    color: #2ca58d;
}


h2{
    color: #adafb3;
    font-size: 20px;
    line-height: 24px;
}
.ball{
    width: 10px;
    display: inline-block;
    float: right;
    align-items: center;

}
.small-logo {
    width: 150px; /* Adjust the width as per your requirements */
    height: auto; /* Preserve the aspect ratio */
  }
@media only screen and (max-width: 1075px) {
    .small-logo {
      width: 100px;
    }
    .svg-side{
        display: none;
    }
    .nav-link{
        font-size: small;
    }
  }
